.application {
  padding-left: 24px;
  margin-bottom: 200px;

    @include on1899 {
      padding-left: 0;
    }
  
    @include on1110 {
      margin-bottom: 100px;
    }
  
    @include on700 {
      margin-bottom: 50px;
    }

  &__container {
    display: flex;
    gap: 113px;

    @include on1170 {
      gap: 50px;
    }

    @include on700 {
      gap: 30px;
      display: block;
    }
  }

  &__reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 124px;
    flex-basis: 486px;

    @include on1170 {
      gap: 50px;
      flex-basis: 400px;
    }

    @include on1024 {
      gap:0;
      flex-basis: 300px;
    }

    @include on700 {
      background-image: url("../images/application/bg-balls.webp");
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 5px;
  }

  &__price {
    transform: translate(-8px, 7px);
  }

  &__text {
    font-family: 'Balqis', sans-serif;
    font-size: 96px;
    color: #E2AB3F;

    @include on950 {
      font-size: 70px;
    }

    &--ital {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 24px;
      font-weight: 300;
      font-style: italic;
      color: #000;
      transform: translate(141px, -30px);
      margin-bottom: -70px;

      @include on950 {
        font-size: 18px;
        margin-bottom: -50px;
      }
    }

    &--norm {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 24px;
      font-weight: 300;
      color: #000;
      transform: translate(122px, -28px);

      @include on950 {
        font-size: 18px;
      }
    }
  }

  &__form {
    margin-left: 110px;
    transform: translateY(-50px);

    @include on1899 {
      transform:translateY(50px);
      margin-left: 0;
    }

    @include on700 {
      transform: translateY(0);
    }
  }

  &__form-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    max-width: 383px;
    margin-bottom: 26px;
  }

  &__photo {
    flex-basis: 600px;

    @include on870 {
      flex-basis: 500px;
    }
    @include on700 {
      display: none;
    }
  }
}