.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  &__input {
    color: #000;
    background-color: rgb(234, 234, 236);
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: 1px solid #E2AB3F;
    padding: 14px 12px 10px 24px;

    @include on820 {
      padding: 10px 20px;
    }

    @include on700 {
      // opacity: 0.6;
    }

    @include on430 {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__button {
    max-width: 320px;
    padding: 12px 40px 10px;
    margin: 0 auto;
    background: none;

    @include on1024 {
      padding: 10px 20px;
      font-size: 18px;
    }

    @include on700 {
      // opacity: 0.7;
      background-color: rgb(234, 234, 236)
    }

    @include on430 {
      max-width: 280px;
      font-size: 16px;
      padding: 10px;
    }
  }
}