.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  // height: 200px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // border: 1px solid red;


  // @include on1899 {
  //   position: sticky;
  //   background-color: rgba(241, 164, 164,0.4);
  //   max-height: 150px;
  //   padding: 0;
  //   // transform: translateY(100%);
  // }

  &--sticky {
    position: fixed;
    background-color: rgba(241, 164, 164, 0.9);
    max-height: 100px;
    // padding-top: 50px;
  }

  &__container {
    padding-top: 74px;
    padding-right: 4px;
    padding-left:20px;
    

    &--sticky{
      padding-top: 50px;
    }

    @include on1899 {
      padding-top: 50px;
      padding-right: 20px;
    }

    @include on1901 {
      padding-top: 50px;
      padding-right: 20px;
    }
  
    @include on1070 {
      padding-top: 50px;
    }

    @include on430 {
      padding-top: 40px;
    }

    &--on600 {
      padding-top: 50px;
    }
  }

  &__nav {
    margin-bottom: 154px;
    margin-top: -4px;

    @include on1070 {
      margin-bottom: 100px;
    }
  }
}
