.trip {
  display: flex;
  justify-content: right;
  overflow-x: hidden;
  margin-bottom: 188px;

  @include on1901 {
    justify-content: center;
  }

  @include on1580 {
    display: block;
  }

  @include on1110 {
    margin-bottom: 100px;
  }

  @include on700 {
    margin-bottom: 50px;
  }


  &__container {
    max-width: 1560px;
    // margin: 0 0 0 auto;
    display: flex;
    gap: 250px;

    @include on1240 {
      gap: 110px;
    }

    @include on1110 {
      align-items: center;
      gap: 10px;
    }

    @include on820 {
      display: block;
    }
  }

  &__description {
    // flex-basis: 330px;
    // padding: 0 260px 0 170px;
    // padding-left: 170px;
    margin-bottom: 10px;
    padding-left: 20px;

    @include on1580 {
      padding-left: 160px;
      padding-right: 100px;
    }

    @include on1450 {
      padding: 0 20px;
    }
  }

  &__logo {
    margin-bottom: 102px;
    width: 330px; 

    @include on1110 {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 79px;
    // width: 330px;
  
    @include on1110 {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    transform: translate(243px, -27px);

    @include on1240 {
      transform: translate(200px, -27px);
    }

    @include on870 {
      transform: translate(152px, -20px);
    }
  }

  &__timetable-box {

    @include on820 {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      // max-width: 420px;
      // margin: 0 auto;
    }

    @include on700 {
      max-width: 420px;
      margin: 0 auto;
    }

    @include on510 {
      max-width: 280px;
    }
  }

  &__timetable {
    margin-bottom: 46px;
    width: 296px;

    &--second {
      margin-bottom: 22px;
      width: 296px;
    }

    @include on1110 {
      margin-bottom: 20px;
    }

    @include on870 {
      max-width: 200px;
    }

    @include on510 {
      max-width: 130px;
    }
  }

  &__day {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    
    @include on1110 {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__item {
    font-size: 24px;
    font-weight: 300;

    @include on1300 {
      font-size: 18px;
    }

    // @include on1000 {
    //   font-size: 16px;
    // }

    @include on510 {
      font-size: 16px;
    }
  }

  &__swiper {
    position: relative;
    margin-right: 0;
    transform: translate(14px, -2px);
    overflow: hidden;
    position: relative;
    // aspect-ratio: 1/1;
    // height: 1095px;
    // width: 960px;
    // max-width: 905px;
    width: 61%;
    max-height: 1095px;

    @include on1899 {
      transform: translate(0);
      // flex-basis: 0;
      width: 50%;
      aspect-ratio: 9.05/1.96;
    }

    @include on1770 {
      width: 60%;
    }

    @include on1110 {
      aspect-ratio: 3 / 4;
    }

    @include on820 {
      width: 100%;
      max-height: 500px;
    }

    @include on510 {
      height: 300px;
    }

    // @include on1240 {
    //   flex-basis: 700px;
    // }
    
  }

  // &__slide {
  //   // position: relative;
  //   // height: 1095px;
  //   // width: 960px;

  //   @include on1110 {
  //     height: 700px;
  //   }

  //   @include on820 {
  //     height: 500px;
  //   }

  //   @include on510 {
  //     height: 350px;
  //   }
  // }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__left {
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
  }

  &__right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    transform: translateY(-50%);
  }

  &__button {

    @include on820 {
      padding: 6px 10px;
      font-size: 16px;
    }

    @include on700 {
      margin-bottom: 20px;
      display: block;
      text-align: center;
      max-width: 200px;
      margin: 0 auto;
    }
  }
}